
<nav class="navbar">
    <ul class="navbar-nav">
        <li class="logo">
            <a href="#" class="nav-link">
                <fa-icon [icon]="faDragon"></fa-icon>
                <span class="link-text"></span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <fa-icon [icon]="faHatWizard"></fa-icon>
                <span class="link-text">Dinamo</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <fa-icon [icon]="faJedi"></fa-icon>
                <span class="link-text">Dinamo</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <fa-icon [icon]="faSkating"></fa-icon>
                <span class="link-text">Dinamo</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <fa-icon [icon]="faSkullCrossbones"></fa-icon>
                <span class="link-text">Dinamo</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <fa-icon [icon]="faDiceD20"></fa-icon>
                <span class="link-text">Dinamo</span>
            </a>
        </li>
    </ul>

</nav>